<div
  style="position: absolute; right: 10px; top: 0;">
  hasZone: {{hasZone}}
</div>
<div
  style="position: absolute; right: 10px; top: 40px;">
  changeDetection: {{env.changeDetection === 1 ? 'Default' : 'OnPush'}}
</div>
<div
  style="position: absolute; right: 10px; top: 80px;">
  ivy: {{ivy}}
</div>

<ng-container *ngIf="viewState$ | ngrxPush as state">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="toggleSidenav.next()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="mat-title">RxJs State Showcase</h1>
  </mat-toolbar>
  <mat-sidenav-container
    class="app-sidenav-container"
    [style.marginTop.px]="state.mobile ? 56 : 0">
    <mat-sidenav [mode]="state.mobile ? 'over' : 'side'"
                 [opened]="state.navOpen"
                 [fixedInViewport]="state.mobile"
                 class="main-sidenav"
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="performance-01">
          <mat-icon style="margin-right: .5rem;">warning</mat-icon>
          Performance 01
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="performance-02">
          <mat-icon style="margin-right: .5rem;">warning</mat-icon>
          Performance 02
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="performance-03">
          <mat-icon style="margin-right: .5rem;">warning</mat-icon>
          Performance 03
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="performance-04">
          <mat-icon style="margin-right: .5rem;">warning</mat-icon>
          Performance 04
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="animation">
          <mat-icon style="margin-right: .5rem;">invert_colors</mat-icon>
          Animation
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
